@charset "UTF-8";
@import "./variable.scss";

:export {
  colorPrimary: $color-primary;
  colorPrimaryDark: $color-primary-dark;
  colorPrimaryLight: $color-primary-light;
  colorPrimaryLighter: $color-primary-lighter;
  colorPrimaryExtraLight: $color-primary-extra-light;
  colorSuccess: $color-success;
  colorSuccessDark: $color-success-dark;
  colorSuccessLight: $color-success-light;
  colorSuccessLighter: $color-success-lighter;
  colorSuccessExtraLight: $color-success-extra-light;
  colorWarning: $color-warning;
  colorWarningDark: $color-warning-dark;
  colorWarningLight: $color-warning-light;
  colorWarningLighter: $color-warning-lighter;
  colorWarningExtraLight: $color-warning-extra-light;
  colorDanger: $color-danger;
  colorDangerDark: $color-danger-dark;
  colorDangerLight: $color-danger-light;
  colorDangerLighter: $color-danger-lighter;
  colorDangerExtra-light: $color-danger-extra-light;
  colorTextPrimary: $color-text-primary;
  colorTextRegular: $color-text-regular;
  colorTextSecondary: $color-text-secondary;
  colorTextPlaceholder: $color-text-placeholder;
  borderColorBase: $border-color-base;
  borderColorLight: $border-color-light;
  borderColorLighter: $border-color-lighter;
  borderColorExtraLight: $border-color-extra-light;
  colorWhite: $color-white;
  colorBlack: $color-black;
  backgroundColorBase: $background-color-base;
  backgroundColorBaseLight: $background-color-base-light;
  boldWeight: $bold-weight;
  radius: $radius;
  boxShadowTiny: $boxShadowTiny;
  boxShadowFloat: $boxShadowFloat;
  colorRainbow1: $color-rainbow-1;
  colorRainbow1Dark: $color-rainbow-1-dark;
  colorRainbow1Light: $color-rainbow-1-light;
  colorRainbow2: $color-rainbow-2;
  colorRainbow2Dark: $color-rainbow-2-dark;
  colorRainbow2Light: $color-rainbow-2-light;
  colorRainbow3: $color-rainbow-3;
  colorRainbow3Dark: $color-rainbow-3-dark;
  colorRainbow3Light: $color-rainbow-3-light;
  colorRainbow4: $color-rainbow-4;
  colorRainbow4Dark: $color-rainbow-4-dark;
  colorRainbow4Light: $color-rainbow-4-light;
  colorRainbow5: $color-rainbow-5;
  colorRainbow5Dark: $color-rainbow-5-dark;
  colorRainbow5Light: $color-rainbow-5-light;
  colorRainbow6: $color-rainbow-6;
  colorRainbow6Dark: $color-rainbow-6-dark;
  colorRainbow6Light: $color-rainbow-6-light;
  colorRainbow7: $color-rainbow-7;
  colorRainbow7Dark: $color-rainbow-7-dark;
  colorRainbow7Light: $color-rainbow-7-light;
}
